/* Responsive Mobile */

.AnveshanDetails {
  color: var(--text-lighter-color);
}
@media screen and (max-width: 900px) {
  .AnveshanContainer {
    position: relative;
  }

  .AnweshanMobilePoster {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
  }

  .AnweshanMobilePoster img {
    width: 100%;
  }

  .AnveshanMain {
    position: relative;
    background-color: var(--text-dark-color);
    /* z-index: -1; */
    margin: 75vh 0 -4rem -15px;
    width: 100vw;
    padding: 4rem 1rem;
    border-radius: 40px 40px 0 0;
  }

  .AnveshanMain::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 3px;
    background-color: var(--text-lighter-color);
    border-radius: 50px;
  }
  .AnveshanSide {
    display: none;
  }
}

.AnveshanMainSubContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.AnveshanSubHeader {
  color: var(--accent-color-green);
  font-weight: 500;
}

.AnveshanDownloadBtn {
  display: inline-block;
  padding: 1rem 2rem !important;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .AnweshanMobilePoster {
    display: none;
  }
  .AnveshanContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    min-height: 80vh;
    margin-top: 4.2rem;
    align-items: center;
    justify-content: center;
  }

  .AnveshanMain {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 520px;
  }

  .AnveshanSide {
    margin-left: 15rem;
    width: 50%;
  }

  .Image {
    height: 40rem;
    width: 35rem;
  }
}
