.EventCard {
  background: var(--card-bg);
  border-radius: 25px;
  padding: clamp(5px, 5vw, 2rem);
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.EventList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.EventPosterContainer {
  position: relative;
  height: clamp(100px, 30vw, 200px);
  width: clamp(100px, 30vw, 200px);
}

.EventPosterContainer img {
  border-radius: 20px;
}

.EventDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DetailsName {
  max-width: 10ch;
}

.DetailsName * {
  vertical-align: text-top;
}

.DetailsDate {
  align-self: flex-start;
  padding: 0.3rem 0.9rem;
  background: var(--card-bg);
  color: var(--text-lighter-color);
  border-radius: 35px;
  font-size: 0.9rem;
}

.DetailsMore {
  padding: 0.3rem 0.9rem;
  border-radius: 35px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-lighter-color);
}

.EventFullContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.EventFullPosterContainer {
  align-self: center;
  position: relative;
  height: 300px;
  width: 300px;
}

.EventFullPosterContainer img {
  border-radius: 35px;
}

.EventFullDate {
  align-self: flex-end;
  padding: 0.4rem 1rem;
  background: var(--card-bg);
  color: var(--text-light-color);
  border-radius: 35px;
}

.EventFullLink {
  align-self: flex-start;
  padding: 1rem 2rem !important;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .EventFullContainer {
    flex-direction: row;
    align-items: center;
  }
  .EventFullPosterContainer {
    align-self: center;
    position: relative;
    height: clamp(300px, 30vw, 400px);
    width: clamp(300px, 30vw, 400px);
  }
}
