/* Header */
.EventsHeader {
  margin: 1em 0;
}
/* Header ends */

.EventList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* event card starts */
.EventCardMobile {
  border-radius: 20px;
  padding: clamp(5px, 3vw, 1.5rem);
  display: flex;
  gap: clamp(0.8rem, 5vw, 2rem);
  align-items: center;
  background: var(--card-bg);
  border: solid 1px rgba(255, 255, 255, 0.15);
}

.EventCardPC {
  display: none;
}

.EventPosterContainer {
  position: relative;
  min-height: 100px;
  min-width: 100px;
  height: clamp(100px, 35vw, 150px);
  width: clamp(100px, 35vw, 150px);
}

.EventPosterContainer img {
  aspect-ratio: 1;
  border-radius: 25px;
}

.EventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.DetailsDate {
  align-self: flex-start;
  color: var(--accent-color-green);
  font-weight: 600;
}

/* Responsive */
@media screen and (min-width: 900px) {
  .EventPosterContainer {
    min-height: 175px;
    min-width: 175px;
    position: relative;
    height: clamp(175px, 10vw, 250px);
    width: clamp(175px, 10vw, 250px);
  }
  .EventDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
  }
  .EventCardMobile {
    display: none;
  }
  .EventList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 3rem;
  }

  .EventCardPC {
    display: block;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: none;
    background: var(--card-bg);
  }

  .DetailsMore {
    margin-left: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--accent-color-green);
    white-space: nowrap;
  }

  .DetailsMore::after {
    height: 2px !important;
  }
}
/* event card ends */

/* event in full screen starts */

.EventFullContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 2rem 0;
}

.EventContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 2rem 0;
}

.EventFullHeader {
  cursor: pointer;
}
.ArrowLeft {
  transition: all 150ms ease-in-out;
}
.EventFullHeader:hover .ArrowLeft {
  transform: translateX(-5px);
}

.EventFullPosterContainer {
  align-self: center;
  position: relative;
  height: 300px;
  width: 300px;
  margin-left: 15px;
}

.EventFullPosterContainer img {
  border-radius: 25px;
}

.EventFullPosterContainer::after {
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  bottom: -15px;
  top: -15px;
  border: var(--accent-color-blue) solid 7px;
  z-index: -9;
  border-radius: 35px;
  box-sizing: border-box;
}

.EventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.EventFullDate {
  align-self: flex-start;
  color: var(--accent-color-green);
  font-weight: 600;
  font-size: 1.1rem;
}

.EventFullLink {
  margin-top: 1.5rem;
  align-self: flex-start;
  padding: 1rem 2rem !important;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .EventFullContainer {
    margin: 0 auto;
    gap: 0;
  }

  .EventContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .EventFullHeader {
    margin: 1em 0;
  }

  .EventFullPosterContainer {
    position: relative;
    height: clamp(300px, 30vw, 400px);
    width: clamp(300px, 30vw, 400px);
  }
}
