.Footer {
  background-color: hsla(247, 20%, 17%, 1);
  border-radius: 35px 35px 0px 0px;
  padding: 3rem 0;
  margin-top: 1rem;
}

.FooterContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.FooterSocial,
.FooterContact,
.FooterNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FooterHeader {
  font-weight: 600;
  font-size: 1.25rem;
}

.FooterSocialItems,
.FooterContactItems,
.FooterLinksItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.FooterFilledLinks {
  padding: 0.7rem 1.25rem 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 70px;
  gap: 0.5rem;
}

.FooterCopyright {
  font-weight: 500;
}

.FooterLinks {
  text-decoration: underline;
}

.FooterCopyright {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
}

.FooterFilledLinks,
.FooterLinks,
.FooterFilledLinks svg {
  fill: hsla(0, 0%, 100%, 0.75);
  color: hsla(0, 0%, 100%, 0.75);
}

.FooterFilledLinks:hover,
.FooterLinks:hover,
.FooterFilledLinks:hover svg {
  color: hsla(0, 0%, 100%, 1);
  fill: hsla(0, 0%, 100%, 1);
}

@media (min-width: 900px) {
  .Footer {
    border-radius: 0;
  }

  .FooterContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .FooterSocialItems,
  .FooterContactItems,
  .FooterLinksItems {
    flex: 1;
  }

  .FooterFilledLinks {
    padding: 0;
    background: none;
    color: hsla(0, 0%, 100%, 0.75);
  }
}
