/* Footer Starts  */
.Footer {
  background-color: hsl(270, 6%, 2%);
  border-radius: 25px 25px 0px 0px;
  padding: 3rem 0;
  margin-top: 3rem;
}

.FooterContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Sections of links starts */
.FooterSocial,
.FooterContact,
.FooterNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FooterSocialItems,
.FooterContactItems,
.FooterLinksItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Sections of links ends */

/* Individual link items starts */
.FooterLinksItems {
  gap: 1rem;
  padding: 1rem;
}

.FooterFilledLinks {
  padding: 0.7rem 1.25rem 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.FooterFilledLink {
  color: var(--text-light-color);
  position: relative;
  transition: all 100ms ease-in-out;
}

.FooterFilledLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: all 100ms ease-in-out;
}

.FooterFilledLink:hover::after,
.FooterFilledLink:focus::after {
  transform: scaleX(1);
}
/* Individual link items ends */

/* Copyright starts */
.FooterCopyright {
  font-weight: 500;
}

.FooterCopyright {
  padding-top: 1rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--text-light-color);
  border-top: rgba(255, 255, 255, 0.1) solid 2px;
}
/* Copyright ends */

/* Responsive PC */
@media (min-width: 900px) {
  .Footer {
    border-radius: 0;
  }

  .FooterSocial,
  .FooterContact,
  .FooterNav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .FooterContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .FooterSocialItems,
  .FooterContactItems,
  .FooterLinksItems {
    flex: 1;
    gap: 1.5rem;
  }

  .FooterFilledLinks {
    padding: 0;
    background: none;
    color: hsla(0, 0%, 100%, 0.75);
  }
}