@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --header-font: "Poppins", sans-serif;
  --general-font: "Poppins", sans-serif;

  --text-dark-color: hsla(210, 66%, 11%, 1);
  --text-light-color: hsla(340, 47%, 97%, 1);
  --text-lighter-color: rgba(251, 245, 244, 0.8);
  --card-bg: hsla(0, 0%, 100%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--general-text-color);
}

body {
  height: 110vh;
  background: hsla(210, 66%, 11%, 1);
  background: url(../public/images/backgroundmobile.png);
  background-size: cover;
  font-family: var(--general-font);
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 15px;
}

@media screen and (max-width: 60em) {
  body {
  }
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  color: var(--text-light-color);
  font-family: var(--header-font);
  font-weight: bold;
  font-size: clamp(4.5rem, 20vw, 7rem);
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 6ch;
}

h2 {
  color: var(--text-light-color);
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 45px;
  line-height: 125%;
  margin: 0.5em 0;
}

h3 {
  color: var(--text-light-color);
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 1.5rem;
}

.Card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border-radius: 10px;
}
