@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:wght@300;400;500;600;700&display=swap");
:root {
  --header-font: "Archivo Black", sans-serif;
  --general-font: "Nunito", sans-serif;
  --header-text-color: hsla(60, 76%, 91%, 1);
  --general-text-color: hsla(0, 0%, 100%, 0.75);
  --card-bg: hsla(246, 74%, 21%, 0.5);
  --card-bg-light: hsla(0, 0%, 100%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--general-text-color);
}

body {
  background: #302e44;
  font-family: var(--general-font);
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 60em) {
  body {
    background-position: center;
  }
}

.color-general-text {
  color: var(--general-text-color);
}

a.color-header-text:hover {
  color: var(--header-text-color);
}

.color-header-text {
  color: var(--header-text-color);
}

.font-header {
  font-family: var(--header-font);
}

.font-general {
  font-family: var(--general-font);
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  color: var(--header-text-color);
  font-family: var(--header-font);
  margin: 1rem 0;
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
