.Home {
  min-height: 100vh;
}

/* Hero start */
.HomeHeroContainer {
  height: calc(100vh - 4rem);
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

/* Header */

.HeroHeaderContainer {
  display: flex;
  align-items: center;
}

.HeroHeader {
  position: relative;
  user-select: none;
}

/* Responsive phone*/
@media screen and (max-width: 900px) {
  /* illustration */
  .HomeHeroContainer {
    margin-bottom: 10rem;
  }
  .HeroSide div {
    position: static !important;
    height: 100%;
  }

  .HeroSide {
    width: 100%;
    height: 60%;
  }

  .HeroSideImage {
    position: static !important;
  }
}

/* Responsive PC */
@media screen and (min-width: 900px) {
  .HomeHeroContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .HeroSide div {
    position: static !important;
    height: 100%;
  }
  .HeroSide {
    width: 50%;
    height: 80%;
  }

  .HeroSideImage {
    position: static !important;
  }
}
/* hero end */

/* Home Cards start */
.HomeAbout,
.HomeTeam,
.HomeEvents,
.HomeReviews {
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeAboutContainer,
.HomeTeamContainer,
.HomeEventsContainer {
  /* width: 1%; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Home Card header */
.HomeAboutHead,
.HomeTeamHead,
.HomeEventsHead,
.HomeReviewsHead {
  position: relative;
}

.HomeTeamInfoHead {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--accent-color-blue);
}

.HomeAboutInfo,
.HomeTeamInfo {
  position: relative;
  margin-left: 1rem;
}

.HomeAboutInfo::before,
.HomeTeamInfo::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--accent-color-blue);
}

.HomeAboutImage {
  order: -1;
  position: relative;
  width: 100%;
  height: 400px;
}

.HomeAboutLink,
.HomeTeamLink,
.HomeEventsLink {
  align-self: flex-start;
  font-weight: 600;
  color: var(--accent-color-green);
}

.HomeAboutLink::after,
.HomeTeamLink::after,
.HomeEventsLink::after {
  height: 3px !important;
  transition: transform 200ms ease-in-out !important;
}
/* Responsive */
@media screen and (min-width: 900px) {
  .HomeAbout,
  .HomeTeam,
  .HomeEvents,
  .HomeReviews {
    padding: 12.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .HomeAboutContainer,
  .HomeTeamContainer,
  .HomeEventsContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .HomeAboutHead::after,
  .HomeTeamHead::after,
  .HomeEventsHead::after,
  .HomeReviewsHead::after {
    height: 5px;
  }

  .HomeAboutLink,
  .HomeTeamLink,
  .HomeEventsLink {
    font-size: 1.2rem;
  }
  .HomeAboutImage {
    position: relative;
    order: unset;
    width: 50%;
  }
}
/* Cards end */

/* Reviews Start */

.HomeReviews {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.ReviewsOuterContainer {
  padding: 0 5px;
}

.Reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  padding: 2rem 1rem;
  background: var(--card-bg);
  border: solid 1px rgba(255, 255, 255, 0.15);
}

.ReviewsContent {
  color: var(--accent-color-green);
  font-size: clamp(1rem, 5vw, 1.25rem);
  line-height: 150%;
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

.ReviewsContent::before {
  content: "“";
  font-family: "PT Sans";
  font-size: 2em;
  display: block;
  width: min-content;
  height: 100%;
}

.ReviewsWriter {
  color: var(--text-light-color);
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .ReviewsOuterContainer {
    padding: 0 1rem;
  }

  .Reviews {
    border: none;
  }
} /* Reviews End */