.Nav {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.NavContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLogo {
    height: 100%;
    padding: 0 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.NavLinks {
    text-decoration: none;
    color: black;
    cursor: pointer;
    letter-spacing: 0.2rem;
    padding: 0;
    margin: 0;
}

.NavMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    z-index: 10000;
    margin-right: 3rem;
}

.NavItems {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 0 30px;
    border-bottom: 3px solid transparent;
    overflow: hidden;
    transition: 0.3s;
}

.menu_icon {
    display: none;
}

/* Responsive */

@media screen and (max-width: 60em) {
    .NavContainer {
        position: relative;
    }
    .NavMenu {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        height: 100vh;
        position: absolute;
        top: -100vh;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .NavMenu.active {
        background: white;
        top: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 1;
    }
    .menu_icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        transition: all 0.5s ease-out;
        font-size: 1.2rem;
        cursor: pointer;
        overflow: hidden;
        z-index: 100000;
    }
    .menu_icon i {
        font-size: 2rem;
    }
    .NavItems {
        color: black;
    }
    .NavItems:hover .NavLinks {
        border-bottom: 3px solid transparent;
        color: blue
    }
    .NavItems:hover {
        border-bottom: 3px solid transparent;
    }
}