/* Top bar starts */
.TopBar {
  height: 4rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.TopBarContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.TopBarLogo {
  display: grid;
  place-items: center;
  cursor: pointer;
}

/* Responsive Phone */
@media screen and (max-width: 900px) {
  .TopBarSpacer {
    display: none;
  }
  .TopBarMenu {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    padding-right: 0;
    cursor: pointer;
  }
  .HamBurgerIcon {
    width: 30px;
    height: 17px;
  }

  .HamBurger {
    width: 30px;
    height: 2px;
  }

  .HamBurger2 {
    width: 20px;
  }

  .TopBarLinks {
    display: none;
  }
  /* Side bar starts */
  .NavMenu {
    list-style: none;
    position: fixed;
    top: 0;
    bottom: -150px;
    padding-bottom: 150px;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: hsl(270, 6%, 15%);
  }

  .NitdgpLogo {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 75px;
    height: 75px;
    opacity: 0.85;
  }
  @media screen and (max-height: 675px) {
    .NitdgpLogo {
      display: none;
    }
  }
  .NavMenuContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1.5rem, 10vh, 4.5rem);
    counter-reset: a;
  }

  .NavItems {
    padding-left: 1.5rem;
  }

  .NavLinks {
    font-size: clamp(2rem, 10vw, 3.5rem) !important;
    text-transform: uppercase;
    position: relative;
    color: var(--text-light-color);
    user-select: none;
    cursor: pointer;
  }

  .NavLinks::before {
    counter-increment: a;
    content: "0" counter(a);
    position: absolute;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    left: -3px;
    top: -2em;
  }
  /* Side Bar Ends */
}

/* Responsive PC */
@media screen and (min-width: 900px) {
  .TopBar {
    height: 4rem;
    position: static;
  }

  .TopBarContainer {
    background-color: transparent !important;
  }

  .TopBarSpacer {
    display: block;
    flex: 0.5;
  }

  .TopBarLogo {
    flex: 0.5;
    justify-content: flex-start;
  }

  .TopBarLogo svg {
    fill: var(--text-lighter-color);
    transition: all 150ms ease-in-out;
  }

  .TopBarLogo:hover svg {
    fill: var(--text-light-color);
  }

  .NavMenu {
    display: none;
  }

  .TopBarMenu {
    display: none;
  }

  .TopBarLinks {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    flex: 1;
    min-width: 500px;
  }

  .NavLinks {
    padding: 0 1rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-lighter-color);
    position: relative;
    transition: all 150ms ease-in-out;
  }

  .NavLinks::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: all 150ms ease-in-out;
    transform-origin: center;
  }
  .NavLinksActive {
    color: var(--accent-color-blue) !important;
    transition: all 150ms ease-in-out;
  }
  .NavLinksActive::after {
    transform: scaleX(0.2);
    border-radius: 20px;
  }

  .NavLinks:hover {
    color: var(--text-light-color);
  }

  .NavLinks:hover::after {
    transform: scaleX(1);
  }
}
