.TopBar {
  height: 4rem;
}

.TopBarContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.TopBarLinks {
  display: none;
}

.TopBarLogo {
  display: flex;
  align-items: center;
}

.TopBarMenu {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: hsla(100, 100%, 100%, 0.75);
}

.NavMenu {
  list-style: none;
  position: fixed;
  top: 4rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  transform: translateY(-200%);
  opacity: 0;
  transition: all 450ms ease-in-out;
  transform-origin: top;
  background: hsla(249, 21%, 12%, 0.5);
}

.NavMenuActive {
  transform: translateY(0);
  opacity: 1;
  backdrop-filter: blur(100px);
}

.NavMenuContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.NavLinks {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 26px;
  padding: 1.5em 4rem;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .NavMenu {
    display: none;
  }
  .TopBarMenu {
    display: none;
  }
  .TopBarLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .NavLinks {
    padding: 0 1rem;
    background: none;
    display: grid;
    place-items: center;
    font-size: 1rem;
  }

  .NavLinks:hover {
    color: hsla(100, 100%, 100%, 1);
  }
}
