/* Year switch */
.YearSwitch {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  cursor: pointer;
}

.YearSwitch::-webkit-scrollbar {
  display: none;
}

.Year {
  background: var(--card-bg);
  color: var(--text-light-color);
  border-radius: 100px;
  padding: 0.8rem 2rem;
  white-space: nowrap;
}

.Year:hover,
.YearActive {
  background-color: var(--text-light-color);
  color: var(--text-dark-color);
}
/* year switch over */

.TeamList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* card */
.TeamCard {
  background: var(--card-bg);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  padding: clamp(5px, 5vw, 2rem);
  display: flex;
  gap: clamp(1rem, 10vw, 2.5rem);
  align-items: center;
}

.TeamCardAvatarContainer img {
  border-radius: 50%;
}

.TeamCardDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DetailsPosition {
  align-self: flex-start;
  padding: 0.3rem 0.9rem;
  background: var(--card-bg);
  color: var(--text-lighter-color);
  border-radius: 35px;
  font-size: 0.9rem;
}

.TeamCardSocial {
  display: flex;
  gap: clamp(3px, 10vw, 1rem);
}
/* card over */

.PositionDesktop {
  display: none;
}

@media screen and (min-width: 650px) {
  .TeamCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .DetailsPosition {
    display: none;
  }
  .PositionDesktop {
    display: block;
    align-self: center;
    padding: 0.3rem 0.9rem;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 35px;
    font-size: 1rem;
  }
  .TeamCardSocialLinks {
    padding: 0.7rem;
  }
  .TeamCardSocial {
    gap: clamp(1rem, 10vw, 2rem);
  }
  .Year {
    background: #252335;
    border-radius: 20px;
    padding: 1.5rem 3rem;
    white-space: nowrap;
  }
  .Year:hover,
  .YearActive {
    background-color: hsla(0, 0%, 100%, 0.9);
    color: black;
  }
}
