/* Year Switch starts*/
.YearSwitch {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: pointer;
}

.YearSwitch::-webkit-scrollbar {
  display: none;
}

.Year {
  background: var(--card-bg);
  border: solid 1px rgba(255, 255, 255, 0.09);
  color: var(--text-lighter-color);
  font-weight: 500;
  border-radius: 100px;
  padding: 0.7em 2em;
  white-space: nowrap;
  transition: all 250ms ease-in-out;
}

.Year:hover {
  background-color: var(--text-lighter-color);
  color: var(--text-dark-color);
}

.YearActive {
  background: var(--accent-color-blue);
  color: var(--text-dark-color);
}
/* Year switch ends */

.TeamHeader {
  margin: 1em 0;
}

.TeamHeader::before {
  content: url("../images/SVG/Vector.svg"); /*Change this on deploy*/
  position: absolute;
  top: -0.5em;
  left: -1rem;
  opacity: 0.7;
  z-index: -9;
}

.TeamList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Team Card starts */
.TeamCard {
  border-radius: 20px;
  padding: clamp(5px, 3vw, 1.5rem);
  display: flex;
  gap: clamp(0.8rem, 5vw, 2rem);
  align-items: center;
  background: var(--card-bg);
  border: solid 1px rgba(255, 255, 255, 0.15);
}

.TeamCardAvatarContainer {
  position: relative;
  height: 120px;
  width: 120px;
}

.TeamCardAvatarContainer img {
  border-radius: 50%;
}

.TeamCardDetailsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.DetailsPosition {
  color: var(--accent-color-green);
  font-size: 0.8rem;
}

.TeamCardSocial {
  display: flex;
  gap: clamp(3px, 10vw, 1rem);
}

/* Responsive */
@media screen and (min-width: 768px) {
  .TeamList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
  }

  .TeamCard {
    border-radius: 25px;
    padding: 2rem;
    gap: 2rem;
    border: none;
    background: hsl(270, 6%, 12%);
  }

  .TeamCardAvatarContainer {
    position: relative;
    height: 120px;
    width: 120px;
  }

  .TeamCardDetailsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
  }

  .DetailsPosition {
    /* padding: 0.3em 0.9em; */
    /* border-radius: 35px; */
    font-size: 1rem;
  }
}
/* card over */
